.button {
	color: #FFF;
	border-radius: 26px;
	background: #343434;
	padding: 10px 0px;
	border: 2px solid #000;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	font-weight: 500;
}
.button:hover {
	background: #fff;
	color: #000;
}