.headerBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0px;
}
.headerBottomList {
	display: flex;
	align-items: center;
	gap: 22px;
}
.headerBottomItem {
	transition: all 0.3s ease 0s;
}
.headerBottomItem:hover {
	transform: scale(1.15);
}

.header {
	padding: 10px 0px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 30;
	transform: translateY(-100%);
	transition: all 0.3s linear 0s;
}
.headerFixed {
	padding: 10px 0px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 30;
	transform: translateY(0);
	transition: all 0.3s linear 0s;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.favorite {
	position: relative;
}
.favoriteNumber {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 18px;
	height: 18px;
	background: #fff;
	color:black;
	border-radius: 50%;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.account {
	position: relative;
}

.accountStatus {
   position: absolute;
	right: 2px;
	bottom: 3px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.faild {
	background: rgb(255, 0, 0);
}
.success {
	background: rgb(14, 158, 14);
}

.account {
	@media (max-width: 768px){
		display: none;
	}
}
.favorite {
	@media (max-width: 768px){
		display: none;
	}
}
.price {
	@media (max-width: 768px){
		display: none;
	}
}
.burger {
	display: none;
	@media (max-width: 768px){
		display: block;
	}
}