.item {
	width: 240px;
	text-align: center;
	@media (max-width: 1040px){
		width: 180px;
	}
}
.image {
	width: 100%;
	& img {
		width: 100%;
	}
}
.title {
	padding-top: 10px;
	padding-bottom: 13px;
	font-weight: 600;
	font-size: 14px;
	color: #323232;
}
.name {
	font-weight: 400;
	font-size: 14px;
	color: #323232;
	padding-bottom: 25px;
	line-height: 18px;
}
.price {
	font-weight: 600;
	font-size: 17px;
	color: #323232;
	padding-bottom: 16px;
	padding-top: 20px;
}