.collections {
	padding: 50px 0px;
	background: #fff5f1;
}

.title {
	font-weight: 500;
	font-size: 32px;
	letter-spacing: 0.02em;
	color: #323232;
	padding-bottom: 50px;
	text-align: center;
}

.row {
	display: flex;
	gap: 30px;
	align-items: center;
	flex-wrap: wrap;
	@media (max-width: 855px){
		justify-content: center;
	}
}

.column {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	max-width: 255px;
}

.text {
	font-weight: 500;
	text-align: center;
}
